/*-- scss:defaults --*/

// Import Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Nunito:wght@300;800&family=Roboto+Mono:wght@300;400&family=Sanchez&display=swap");

// Variables
$font-family-headers: "Sanchez", serif;
$color-dark-blue: #003660;
$color-teal: #047C90;
$color-green: #78A540;
$color-pink: #900C3F;
$color-peach: #DF8073;
$color-gray: #ADADAD;
$color-white: #FFFFFF;
$color-seafom: #517699;

$navbar-bg: $color-seafom;
$navbar-fg: $color-white;
$navbar-hl: $color-gray;



// Mixins
@mixin body-text($size, $line-height, $margin-bottom) {
  font-size: $size;
  line-height: $line-height;
  margin-bottom: $margin-bottom;
}


// Header Styles
h1{
  font-family: $font-family-headers;
  color: $color-white;
}

h2, h3, h4 {
  font-family: $font-family-headers;
  color: $color-dark-blue;
}

h2 {
  border-bottom: 3px solid $color-dark-blue;
  padding-bottom: 0.5rem;
}

// Icon Styles
.large-fa-icon {
  font-size: 2.5em;
}

// Body Text Classes
.body-text {
  &-xl {
    @include body-text(35px, 1.7em, 1em);
  }
  
  &-l {
    @include body-text(30px, 1.7em, 1em);
  }
  
  &-m {
    @include body-text(25px, 1.7em, 1em);
  }
  
  &-s {
    @include body-text(18px, 0.3em, null);
  }
}

// Box Styles
.pink-box {
  width: 800px;
  padding: 10px;
  border: 5px solid rgba(217, 178, 189, 0.5);
  margin: 0 auto;
}

// Text Colors
.text {
  &.gray-text {
    color: $color-gray;
  }
  
  &.teal-text {
    color: $color-teal;
  }
  
  &.dark-blue-text {
    color: $color-dark-blue;
  }
  
  &.pink-text {
    color: $color-pink;
  }
  
  &.peach-text {
    color: $color-peach;
  }
}

// Text Alignment
.center-text {
  text-align: center;
}

// Button Styles
.btn {
  color: $color-teal;
  background-color: $color-white;
  border-color: $color-teal;
  
  &:hover {
    color: $color-green;
    background-color: $color-white;
    border-color: $color-green;
  }
}

